/* { margin: 0px; padding:0px; position: relative; }
body {
	background-color: white;
	font-family: sans-serif, arial;
}
header {
	padding: 10px;
	border-bottom: solid 1px #888888;
}


a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: Chocolate;
	border: dotted 1px white;
	transition: all 0.5s ease;
}
a:hover {
	border-bottom: dotted 1px Chocolate;
}

nav li {
	list-style-type: none;
	display: inline-block;
}
nav a:link, nav a:visited{
	display: block;
	padding: 10px;h
	border: none;
}
nav a:hover  {
	border: none;
	background-color: Chocolate;
	color: white;	
}
*/
#rechercheplacement{
	
}
input{

margin:3px;
border-radius: 10px;	

}

label{
	style:dotted;

}

section {
	padding: 3%;
	min-height: 150px;
	position:relative;

}
section table {
	margin: 20px;
	border-collapse: collapse;
}
section td {
	border-bottom: solid 1px #888888;
	padding: 10px;
}
section p {
	margin: 20px;
}

footer {
	border-top: solid 1px #888888;
	padding: 10px;
	font-size: 0.8em;
}
*{
	font-family: Verdana;
}
.logo{
	padding: 0px;
	height: 100%;
	border-right: 1px solid #D8D8D8;
	text-align: center;
	position: absolute;
	width: 200px;

}
#logo{
	display: inline-block;
	
}
#logo:hover{
	cursor: pointer;
}
.header{

	position: fixed;
	width: 100%;
	height: 66px;
	z-index: 1;
	top: 0px;
	background: #FFF none repeat scroll 0% 0%;
	border-bottom: 1px solid #D8D8D8;
	display: block;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.42857;
	color: #333;
	margin-bottom:66px;

}
.container{
	margin-right: 0px;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 199px;
	height: 100%;
}
.search{
	border-bottom: 1px solid #D8D8D8;
	position: relative;
	width: 43.5%;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	background-color: #cdcdcd ;
	
}

.search:hover{
	 background: #9f9d9d;
     transition: background 0.7s;
}
.menu{
	width: auto;
	/*float: left;*/
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: Verdana;
	font-size: 12px;
	line-height: 1.42857;
	color: #333;
	height: 100%;
	margin: 0px;

}


#fieldset{
	background-color: #FFFFFF;
	position: relative;	
	margin : 8px;
	height: 50px;

	
}
.boxselect{
	display : inline-block;
	


    
}
#searchselect{
	width:8vw;
	height : 45px;
	border : none;
	font-family: Verdana;
	overflow: hidden;
	border: 0 !important;
	display : inline-block; 
	margin-right: 1px;
}


#searchinput{

	
	display : inline-block;
	height : 45px;
	border : none;
	font-family: Verdana;
	width: 15vw;
	display : inline-block;
	size : 65px; 

	
	
}



#searchicon{
	height : 60%;
	width: : 1vw;
	padding : 0px;
	margin : 0px;
	z-index: 250;
	display : inline-block;

	
}

#searchselect:hover{
	cursor: pointer;
}

#searchbtn:hover{
	cursor: pointer;
}

#searchbtn{
	background-color: white;
	border : none;
	height : 100%;
	width: : 1vw;
	float : right;
	display : inline-block;
	z-index:250;
	margin : 0px;
	padding :0px;

	
}

#connection{
	display : inline-block;
	
	
}
#inscription{
	display : inline-block;
	

}

#btnprofil{
	display : none;
	float:  right;
}
#monpseudo{
	font-size: 20px;
	text-align: center;
	float : left;
}
#logopseudo{
	width : 30px;
	height : 30px;
	margin-right: 10px;
	margin-top: 0px;
}

ul{
	height: 100%;
	margin: 0px;
	width: auto;
	padding : 0px;
	
}
.limenu{
	height: 100%;
	margin: 0px;

	
	
	
}
.btnmenu {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Verdana;
  color: #000000;
  font-size: 20px;
  border: solid #000000 0px;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: top;
  width: auto;
  margin-left:5px;
  margin-right:5px;

  



}

.btnmenu:hover {
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #fafafa, #ffffff);
  background-image: -moz-linear-gradient(top, #fafafa, #ffffff);
  background-image: -ms-linear-gradient(top, #fafafa, #ffffff);
  background-image: -o-linear-gradient(top, #fafafa, #ffffff);
  background-image: linear-gradient(to bottom, #fafafa, #ffffff);
  text-decoration: none;
  border-bottom : 2px solid black;
  border-left : 1px solid #fafafa;
  border-right : 1px solid #fafafa;

}
/*.limenu:hover .ulformconnect{
	display : none;
}*/
footer{
	border-top: 1px solid #D8D8D8;
}

#connectFormdiv{
	border : solid black 1px;
	position: absolute;
	top:5;
	left:5;
	z-index: 200;
	padding :15px;
	/*margin : 20px;*/
	width: 182px;
	height: auto;
	display: block;
	background-color: #232323;
	color: #FFFFFF;
	border-radius:5px;
	display:none;
	
}
.labelconnect{
	display: block; 
    /*width: 150px;*/
    /*margin : auto;*/
    font-family: Verdana;
}
.inputconnect{
	 /*margin : 200px;*/
	/*margin:5px;*/
    font-family: Verdana;
}

.cacheheader{
	height: 70px;
	width: 100%;
}

.ulformconnect {
	/*display : none;*/
	/*position: absolute;
	top: 45px;
	left : 44vw;
	margin: 0px;
	padding: 0px;*/
	 list-style-type: none;
	
}

#msgEror{
	font-family: Verdana;
}


footer{
	background-color: #232323;
	color : white;
	width:  : 100%;
	font-weight: :bold;
	font-family: Verdana;
	text-align: center;
    position: relative;
    clear:both;
    margin-top: 150px;
    padding : 70px;
    height: 60px;
}
.btnconnect {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana;
  color: #ffffff;
  font-size: 15px;
  background: #F5B027;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  margin : 21px;
}

.btnconnect:hover {
  background: #f2be5e;
  text-decoration: none;
}



#imageprofil{
	width: 50px;
	height : 50px;
	display: inline-block;
}
#btndeconnection{
	 -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana;
  color: #ffffff;
  font-size: 15px;
  background: #F5B027;
  padding: 5px;
  text-decoration: none;
  margin : 21px;
  top : 5;
  right: 0;
  position: absolute;
}
.btn_btn {
	 -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana;
  color: #ffffff;
  font-size: 15px;
  background: #F5B027;
  padding: 5px;
  text-decoration: none;
  margin : 21px;
	
}
	
.lblInscript{
    display: block; 
    width: 400px;
    font-weight: bold;
    margin : 5px;
}
.iptInscript{
  padding: 10px;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
.iptInscript:focus{
	border: solid 5px #969696;
}	
#iptsubIns{
	-webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana;
  color: #ffffff;
  font-size: 15px;
  background: #F5B027;
  padding: 5px;
  text-decoration: none;
  margin : 21px;
  width: 200px;
}
.msgErreur{
	color : red;
	font-weight: bold;
}
